<div class="container">
    <h3 class="experience-title">Education</h3>

    <div class="experience-wrapper">
        <div class="company-wrapper clearfix">
            <div class="experience-title">University of Virginia</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
            <div class="time">2019 - 2023</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
        </div>

        <div class="job-wrapper clearfix">
            <div class="experience-title">B.A in Computer Science <br> 
                B.A in Economics <br> &nbsp&nbsp Concentration in Industrial Organization <br>
                Minor in Data Science  </div> <!-- JOB TITLE  -->
            <div class="company-description">
                <p>GPA:CS 3.67|ECON 3.5|Cumulative 3.47</p> <!-- JOB DESCRIPTION  -->
            </div>
        </div>
    </div>
</div>
