<div>
    <div class="contact-info clearfix">
        <ul class="list-titles">
            <li>Call</li>
            <li>Mail</li>
            <li>Web</li>
            <li>LinkedIn</li>
            <li>Github</li>
        </ul>
        <ul class="list-content">
            <li>+1 434 327 0428</li>
            <li>ca6fqb@virginia.edu</li>
            <li><a target="_blank"
                    href="https://cesarmontalverne.github.io/CV/fin/index.html">cesarmontalverne.github.io/CV</a>
            </li>
            <li><a target="_blank" href="https://www.linkedin.com/in/cesar-a-godoy/">cesar-a-godoy</a></li>
            <li><a target="_blank" href="https://github.com/cesarmontalverne">cesarmontalverne</a></li>
        </ul>
    </div>
    <div class="section-wrapper clearfix">
        <h3 class="section-title">About Me</h3>
        <p>I believe in thinking differently. In a world with countless possibilities, why not try every one of them?
        </p>
    </div>
    <div class="section-wrapper clearfix">
        <h3 class="section-title">Hobbies</h3>
        <ul>
            <li>Chess: Challenge me for a match at 
                <a target="_blank" href="https://www.chess.com/member/cesar_god">
                    chess.com/cesar_god.
                </a>
            </li>
            <li>Soccer</li>
        </ul>

    </div>
    <div class="section-wrapper clearfix">
        <h3 class="section-title">Referrals</h3> <!-- DESCRIPTION OF YOUR HOBBIES -->

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a elit facilisis, adipiscing leo in,
            dignissim magna.</p>
    </div>
</div>
</div>