<div class="container">
    <h3 class="experience-title">Projects</h3>

    <div class="experience-wrapper">
        <div class="company-wrapper clearfix">
            <div class="experience-title">Hoosville</div> 
            <div class="time">Sep 2021 - Present</div>
        </div>
        <div class="job-wrapper clearfix">
            <div class="company-description">
                <p>- Programmed an IOS and Android app for the Deparment of Psychology at UVA to research strategies people use to make friends <br>
                   - Leveraged a combination of redux architecture along with firebase and google sheets apis to allow researchers complete control of the variables and events in the game <br>
                   - Tools: GitHub, Firebase, Google Sheets API, React Native, Expo, JavaScript, Redux </p> <!-- JOB DESCRIPTION  -->
            </div>
        </div>

        <div class="company-wrapper clearfix">
            <div class="experience-title">WhatsApp Analyzer & Winning Chess Openings</div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
            <div class="time">2023 / 2021</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
        </div>
        <div class="job-wrapper clearfix">
            <div class="company-description">
                <p>- Programmed projects using interactive plots.  <br>
                   - Winning Chess Openings: Analyzed the frequency chess games tend to be won by each side
                   depending on the first few moves in the game, using data from Lichess - attempting to
                   empirically discover what openings are better. <br>
                   -  Chat Analyzer: Allows user to see interactive charts of their own (Whatsapp) chats, exported
                   from the app, showing number of texts and words sent as well as count of the words sent.
                </p> <!-- JOB DESCRIPTION  -->
            </div>
        </div>
        <div class="company-wrapper clearfix">
            <div class="experience-title">Gate Dilemma and Libertadores
            </div> <!-- NAME OF THE COMPANY YOUWORK WITH  -->
            <div class="time">2021 / 2019</div> <!-- THE TIME YOU WORK WITH THE COMPANY  -->
        </div>
        <div class="job-wrapper clearfix">
            <div class="company-description">
                <p>-  Developed projects demonstrating knowledge of Python, as well as Pygame and Gamebox libraries. 2021/2019
                    More importantly, the code is clean and well documented.  <br>
                   -  Gate Dilemma: Developed and documented a game where players are presented with inputs and an output
                   and must choose a logical gate that will make the statement correct. <br>
                   -  Chat Analyzer: Allows user to see interactive charts of their own (Whatsapp) chats, exported
                   from the app, showing number of texts and words sent as well as count of the words sent. <br>
                   - Libertadores: Created and documented a game where there’s a constant flow of soccer balls moving towards
                   the goal and players need to use the arrows on their keyboards to move a keeper’s glove and defend them
                </p> <!-- JOB DESCRIPTION  -->
            </div>
        </div>

    </div>
</div>