<div class="section-wrapper clearfix full-size">
    <h3 class="section-title white">Skills</h3> <!-- YOUR SET OF SKILLS  -->
    <div class="section-wrapper clearfix half-size">

    <div class="experience-title">Languages</div> 
    <ul>
        <li class="skill-percentage1">Portuguese</li>
        <li class="skill-percentage1">English</li>
        <li class="skill-percentage1">Spanish</li>
    </ul>
    <div class="experience-title">Tools and Technologies</div>
    <ul>
        <li class="skill-percentage2">Postman / REST</li>
        <li class="skill-percentage2">React Native / Expo</li>
        <li class="skill-percentage2">Github</li>
        <li class="skill-percentage2">Gulp</li>


    </ul>
    </div>
    <div class="section-wrapper clearfix half-size languages">
    <div class="experience-title">Coding Languages</div>
    <ul>
        <li class="skill-percentage3">Python</li>
        <li class="skill-percentage3">Java</li>
        <li class="skill-percentage3">C/C++</li>
        <li class="skill-percentage3">Javascript</li>
        <li class="skill-percentage3">R</li>
        <li class="skill-percentage3">MySQL</li>
        <li class="skill-percentage3">HTML</li>
        <li class="skill-percentage3">CSS / SCSS</li>
        <li class="skill-percentage3">LaTeX</li>
    </ul>
    </div>

</div>