<div>
    <div class="project-wrapper">
        <img src="./assets/img/gatedilemma.png"/>
    <div class="project-formatter">
        <h3 id="gatedilemma">Gate Dilemma</h3>
        <h6>2021</h6>
            <div class="project-description-format">
                <ul>
                    <li>Used Pygame and Gamebox to develop a python game.</li>
                    <li>Players are presented with boolean inputs and a boolean output and the player is prompted to
                         choose a logical gate that will make the statement correct before the time is up.</li>
                    <li>Created to train people who don't know anything of logical gates</li>
                    <li><a target ="_blank" href="https://github.com/cesarmontalverne/Gate-Dilemma">Source Code</a></li>
                </ul> 
                                    
            </div>
            <div class="project-tools">
                <p>Python</p>
                <p>Pygame</p>
                <p>Gamebox</p>
            </div>
    </div>
    </div>
</div>