<div>
    <div class="project-wrapper">
    <div class="project-formatter">
        <h3 id="hoosville">Hoosville</h3>
        <h6>2021-2023</h6>
            <div class="project-description-format">
                <ul>
                    <li>Planned and developed IOS and Android App with the UVA Psychology deparment.</li>
                    <li>The research aims at gaining insight about how income and propensity to move influence people's friend-making strategy.</li>
                    <li>The app tries to mimic the world. You need to befriend people while events happen to you.</li>
                    <li>Personal information is gathered through Qualtrics. Game metadata is collected through firebase and converted into dataframes with R.</li>
                    <li>Almost every aspect of the game can be controlled by 
                        <a target ="_blank" href="https://docs.google.com/spreadsheets/d/18R94YiYe3035ng9NPtfdk7PJQABlgvCRfOobvQA-IbE/edit#gid=0">
                            altering a google sheet.
                        </a></li>
                    <li>The game is programmed with redux architecture.</li>
                    <li><a target ="_blank" href="https://github.com/cesarmontalverne/Hoosville_Public">Source Code</a></li>
                    <li><a target ="_blank" href="">Documentation</a></li>
                </ul>
            </div>
            <div class="project-tools">
                <p>GitHub</p>
                <p>R</p>
                <p>Firebase</p>
                <p>Google Sheets API</p>
            </div>
            <div class="project-tools">
                <p>React Native</p>
                <p>Expo</p>
                <p>JavaScript</p>
                <p>Redux</p>
            </div>
    </div>
    <img src="./assets/img/adaptative-icon.png"/>

    </div>
</div>