<div>
    <div class="project-wrapper">
    <div class="project-formatter">
        <h3 id="libertadores">Libertadores</h3>
        <h6>2019</h6>
            <div class="project-description-format">
                <ul>
                    <li>Used Pygame and Gamebox to develop a python game.</li>
                    <li>One or two players need to control soccer gloves to avoid goals beeing scored.</li>
                    <li>Created to train people who don't know anything of logical gates</li>
                    <li>Well documented</li>
                    <li><a target ="_blank" href="https://github.com/cesarmontalverne/Libertadores">Source Code</a></li>
                </ul> 
            </div>
            <div class="project-tools">
                <p>Python</p>
                <p>Pygame</p>
                <p>Gamebox</p>
            </div>
    </div>
    <img src="./assets/img/liberta.png"/>

    </div>
</div>