<div>
    <div class="project-wrapper">
        <img src="./assets/img/usaobesity.png"/>
    <div class="project-formatter">
        <h3 id="usaobesity">USA Fast Food and Obesity</h3>
        <h6>2023</h6>
            <div class="project-description-format">
                <ul>
                    <li>Predicted obesity rates on american counties using multiple factors, including fast food restaurants.</li>
                    <li>Used a two step process: clustering data points in all aspects except obesity rates, then a Random Forest algorithm in each region to predict the target.</li>
                    <li>Created plot showing geographically how each cluster was distributed across the country.</li>
                    <li>Used the importance metric from the Random Forests algortithm to establish a correlation between number of fast food restaurants in a county and its obesity rate.</li>
                    <li><a target ="_blank" href="live_USAObesity.html">See Project!</a></li>
                    <li><a target ="_blank" href="https://github.com/cesarmontalverne/Obesity_USA">Source Code</a></li>
                </ul>                   
            </div>
            <div class="project-tools">
                <p>R</p>
                <p>Dplyr</p>
                <p>Plotly</p>
            </div>
            <div class="project-tools">
                <p>Clustering</p>
                <p>Random Forests</p>
            </div>
    </div>
    </div>
</div>