<div>
    <div class="project-wrapper">
        <img src="./assets/img/whatsapp.png"/>
    <div class="project-formatter">
        <h3 id="whatsapp">WhatsApp Analyzer</h3>
        <h6>2023</h6>
            <div class="project-description-format">
                <ul>
                    <li>Wrote a script in R that creates a data analytics report for any WhatsApp conversation inputted.</li>
                    <li>Designed relevant and interactive plots</li>
                    <li>Used Natural Language Processing tools such as TF-IDF</li>
                    <li>Created four different algorithms with increasing levels of complexity to predict when the other person was going to text back</li>
                    <li><a target ="_blank" href="https://github.com/cesarmontalverne/WhatsApp_Analyzer">Source Code</a></li>
                </ul>             
            </div>
        <div class="project-tools">
            <p>R</p>
            <p>Dplyr</p>
            <p>Plotly</p>
        </div>
        <div class="project-tools">
            <p>Shiny</p>
            <p>Clustering</p>
            <p>Random Forests</p>
        </div>
    </div>
    </div>
</div>