<div>
    <div class="project-wrapper">
    <div class="project-formatter">
        <h3 id="winningchessopenings">Winning Chess Openings</h3>
        <h6>2021</h6>
            <div class="project-description-format">
                <ul>
                    <li>Used lichess data to see the winning rate for each player given the first two moves, per rating.</li>
                    <li>Designed an interactive plot</li>
                    <li><a href="live_WinningChessOpenings.html">See Project!</a></li>
                    <li><a href="https://github.com/cesarmontalverne/WinningChessOpenings">Source Code</a></li>
                </ul> 
            </div>
            <div class="project-tools">
                <p>R</p>
                <p>Ggplot</p>
                <p>Shiny</p>
            </div>
    </div>
    <img src="./assets/img/adaptative-icon.png"/>

    </div>
</div>